@layout('layouts/app')

@section('content')
<br/><br/><br/>
<div class="container">
    <h4 class="bold">Bienvenue sur ce site de méditation. Veuillez cliquer sur la cloche de notification en haut pour voir les posts disponibles</h3>
</div>
@end
